---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section aria-labelledby="intro-heading">
    <h2 class="sr-only" id="intro-heading">Introduction</h2>
    <p class="mt-6 mb-16 text-[1.1rem] leading-[1.8] text-[#ccc]">
      Work in progress...
    </p>
  </section>
</Layout>
