<nav class="w-full p-4">
  <div class="container mx-auto flex items-center justify-between">
    <span class="text-xl font-bold text-white">
      ${" "}
      <a href="/" class="no-underline">lancher</a>
    </span>
    <ul class="mt-auto flex space-x-4">
      <li>
        <a
          href="/docs"
          class="text-gray-300 no-underline hover:text-white"
          title="Documentation">Docs</a
        >
      </li>
      <li>
        <a
          href="https://github.com/Kasui92/lancher"
          class="text-gray-300 no-underline hover:text-white"
          title="GitHub Repository"
          target="_blank"
          rel="noopener noreferrer"
        >
          Repository
        </a>
      </li>
    </ul>
  </div>
</nav>
